<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}{% endblock %} | AdahCareFoundation</title>
    <meta content="" name="description">

    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{# static 'img/favicon.png' #}" rel="icon">
    <link href="{# static 'img/apple-touch-icon.png' #}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'styles/aos.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'styles/remixicon/remixicon.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                <span>AdahCareFoundation<span style="color: #106eea">.</span></span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link {% url 'home' as home_url %}{% if request.get_full_path == home_url %}active{% endif %}" href="{% url 'home' %}">Home</a></li>
                    <li><a class="nav-link {% url 'about' as about_url %}{% if request.get_full_path == about_url %}active{% endif %}" href="{% url 'about' %}">About Us</a></li>
                    <li><a class="nav-link {% url 'works' as works_url %}{% if request.get_full_path == works_url %}active{% endif %}" href="{% url 'works' %}">What We Do</a></li>
                    <li><a class="nav-link {% url 'team' as team_url %}{% if request.get_full_path == team_url %}active{% endif %}" href="{% url 'team' %}">Our Team</a></li>
                    <li><a class="nav-link {% url 'contact' as contact_url %}{% if request.get_full_path == contact_url %}active{% endif %}" href="{% url 'contact' %}">Contact Us</a></li>
                    <li><a class="getstarted" href="{# url 'donate' #}">Donate</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    {% block content %}{% endblock content %}

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="copyright">
                &copy; Copyright {% now 'Y' %} &bull; <strong><span>AdahCareFoundation</span></strong>. All Rights Reserved
            </div>
            <!-- <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div> -->
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'scripts/aos.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>

</body>

</html>