{% extends "base.html" %} 
{% load static %}

{% block title %}Home{% endblock title %} 

{% block content %} 

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">{{ home.hero_title }}</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">{{ home.hero_paragraph }}</h2>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="{{ home.hero_image.url }}" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

        <div class="container" data-aos="fade-up">
            <div class="row gx-0">

                <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>Who We Are</h3>
                        {{ about.content|truncatechars:300|safe }}
                        <div class="text-center text-lg-start">
                            <a href="{% url 'about' %}"
                                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Continue Reading</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{{ about.image.url }}" class="img-fluid" alt="">
                </div>

            </div>
        </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <p>Our Causes</p>
            </header>

            <div class="row">

                {% for cause in home.cause_set.all %}
                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="box">
                        <img src="{{ cause.image.url }}" class="img-fluid" alt="">
                        <p>{{ cause.content }}</p>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>

    </section><!-- End Values Section -->

</main><!-- End #main -->

{% endblock content %}