{% extends "base.html" %}

{% block title %}Our Works{% endblock title %}

{% block content %}


<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <h2 class="my-4">Our Works</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
    
        <div class="container" data-aos="fade-up">
    
            {% for work in works %}
            <div class="row mb-5 d-flex align-content-center">
    
                <div class="col-lg-6 mt-5">
                    <img src="{{ work.image.url }}" class="img-fluid" alt="">
                </div>
    
                <div class="col-lg-6 mt-5">
                    {% if work.title %}<h3>{{ work.title }}</h3>{% endif %}
                    {{ work.content|safe }}
                </div>
    
            </div> <!-- / row -->
            {% endfor %}
    
        </div>
    
    </section><!-- End Features Section -->

</main><!-- End #main -->

{% endblock content %}